In [4]:
#import libraries

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [4]:
def create_server_connection(host_name, user_name, user_password, port):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name, 
            user = user_name, 
            password = user_password,
            port = port
        )
        print("MySQL Database Connection Successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
              
#Put Our Mysql Terminal Password 
pw = "qwaszxedcrfv"
#Database Name
p = 3306
db = 'mysql_python'
connection = create_server_connection("localhost", "root", pw, p)

MySQL Database Connection Successful

In [5]:
#Create mysql_python database
def create_database(connection, query):
    cursor = connection.cursor()# Used to execute MySql Statements
    try:
        cursor.execute(query)
        print("Database Created Successfully")
    except Error as err:
        print(f"Error : '{err}'")

create_database_query = "Create database mysql_python"
create_database(connection, create_database_query)

Database Created Successfully

In [7]:
#Connect to Database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name, 
            user = user_name, 
            password=user_password,
            database = db_name
        )
        print("MySQL Database Connection Successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [1]:
#Execute SQL Queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [10]:
pw = "qwaszxedcrfv"
db = 'mysql_python'
create_orders_tables = """
create table orders(
order_id int primary key, 
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""

#Connect to the database
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, create_orders_tables)

MySQL Database Connection Successful
Query was successful

In [11]:
 #Insert data

data_orders = """
insert into orders values
(101, "Steve", "Laptop", "2018-06-12", 2, 800, '6293730802'),
(102, "Jos", "Books", "2019-02-10", 10, 12, '8367489124'),
(103, "Stacy", "Trousers", "2019-12-25", 5, 50, '8976123645'),
(104, "Nancy", "T-shirts", "2018-07-14", 7, 30, '7368145099'),
(105, "Maria", "Headphones", "2019-05-30", 6, 48, '8865316698'),
(106, "Danny", "Smart-TV", "2018-08-20", 10, 300, '7720130449');
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, data_orders)

MySQL Database Connection Successful
Query was successful

In [12]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [13]:
 #Using the select Statement
q1 ="""
select * from orders
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)
for result in  results:
    print(result)

MySQL Database Connection Successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, 50.0, '8976123645')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')
(106, 'Danny', 'Smart-TV', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')

In [14]:
  q2 ="""
select customer_name, phone_number from orders
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q2)
for result in  results:
    print(result)

MySQL Database Connection Successful
('Steve', '6293730802')
('Jos', '8367489124')
('Stacy', '8976123645')
('Nancy', '7368145099')
('Maria', '8865316698')
('Danny', '7720130449')

In [16]:
q3 ="""
select year(date_ordered) from orders
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q3)
for result in  results:
    print(result)

MySQL Database Connection Successful
(2018,)
(2019,)
(2019,)
(2018,)
(2019,)
(2018,)

In [17]:
q4 ="""
select distinct year(date_ordered) from orders
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q4)
for result in  results:
    print(result)

MySQL Database Connection Successful
(2018,)
(2019,)

In [19]:
q5 ="""
select * from orders where date_ordered < '2018-12-31'
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q5)
for result in  results:
    print(result)

MySQL Database Connection Successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(106, 'Danny', 'Smart-TV', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')

In [20]:
q6 ="""
select * from orders where date_ordered > '2018-12-31'
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q6)
for result in  results:
    print(result)

MySQL Database Connection Successful
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, 50.0, '8976123645')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')

In [21]:
q7 ="""
select * from orders order by unit_price
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q7)
for result in  results:
    print(result)

MySQL Database Connection Successful
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(105, 'Maria', 'Headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, 50.0, '8976123645')
(106, 'Danny', 'Smart-TV', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')

In [22]:
from_db = []

for result in results:
    result = list(result)
    from_db.append(result)
columns = ["Order Id", "Customer Name", "Product Name", "Date Ordered", "Quantity",
          "Unit Price", "Phone Number"]

df = pd.DataFrame(from_db, columns = columns)
display(df )

,Order Id,Customer Name,Product Name,Date Ordered,Quantity,Unit Price,Phone Number
0,102,Jos,Books,2019-02-10,10,12.0,8367489124
1,104,Nancy,T-shirts,2018-07-14,7,30.0,7368145099
2,105,Maria,Headphones,2019-05-30,6,48.0,8865316698
3,103,Stacy,Trousers,2019-12-25,5,50.0,8976123645
4,106,Danny,Smart-TV,2018-08-20,10,300.0,7720130449
5,101,Steve,Laptop,2018-06-12,2,800.0,6293730802

In [24]:
#Update Command

update = """
update orders
set unit_price = 45
where order_id=103
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update)

MySQL Database Connection Successful
Query was successful

In [25]:
q8 ="""
select * from orders where order_id = 103
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q8)
for result in  results:
    print(result)

MySQL Database Connection Successful
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, 45.0, '8976123645')

In [27]:
#Delete Command
delete_order = """
delete from orders
where order_id = 105;
"""
connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, delete_order)

MySQL Database Connection Successful
Query was successful

In [28]:
q9 ="""
select * from orders 
""" 
connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q9)
for result in  results:
    print(result)

MySQL Database Connection Successful
(101, 'Steve', 'Laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(102, 'Jos', 'Books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')
(103, 'Stacy', 'Trousers', datetime.date(2019, 12, 25), 5, 45.0, '8976123645')
(104, 'Nancy', 'T-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(106, 'Danny', 'Smart-TV', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')